<<<<<<< HEAD
<section class="game-sum">
    <span><img src= "https://images.igdb.com/igdb/image/upload/t_1080p/{{cover}}.jpg" alt="{{title}} cover art" class="info-art"></span>

=======
<sections>
    <span><img src= "https://images.igdb.com/igdb/image/upload/t_1080p/{{cover}}.jpg" alt="{{title}} cover art"></span>
>>>>>>> main
    <span>
        <div>
            <h2>{{Title}}</h2>
        </div>
        <div>
            <p class="genres">{{genres}}</p>
        </div>
        <div>
             <p class="summary">{{summary}}</p>
        </div>
<<<<<<< HEAD
    </span>
</section>
=======
    
    </span>
</sections>
>>>>>>> main
