<sections class="genre">
    <span><img src= "https://images.igdb.com/igdb/image/upload/t_1080p/{{cover}}.jpg" alt="{{title}} cover art" style="width:80%;max-width:320px"></span>
    <span>
        <div>
            <h2>{{Title}}</h2>
            <p class=>{{genres}}</p>
        </div>
        <div>
             <p class="summary">{{summary}}</p>
        </div>
    
    </span>
</sections>