<section class="game">
  <h2>{{title}}</h2>
  <img src="img/{{cover}}" alt="{{title}} cover art">
  <p class="genres">{{genres}}</p>
  <p class="rating">{{rating}}</p>
  <p class="summary">{{summary}}</p>
  <a href="/game/{{slug}}">View</a>
</section>