<<<<<<< HEAD
=======


>>>>>>> main
<section class="game">
  <h2>{{title}}</h2>
  <img src="https://images.igdb.com/igdb/image/upload/t_1080p/{{cover}}.jpg" alt="{{title}} cover art">
  {{#each genres}}
  <p class="genres">{{this}}</p>
  {{/each}}
  <a href="/game/{{slug}}">View</a>
<<<<<<< HEAD
</section>
=======
</section>
>>>>>>> main
