
</head>
<body>
  <div class="">
    <h2>{{title}}</h2>
    <img src="https://images.igdb.com/igdb/image/upload/t_1080p/{{cover}}.jpg" alt="{{title}} cover art">
    {{#each genres}}
    <h3>{{this}}</h3>
    {{/each}}
    <h3>{{age_rating}}</h3>
    <p>{{summary}}</p>

  </div>
  <section id="reviews">
    {{#each reviews as |review|}}
    {{> review-card}}
    {{/each}}
  </section>
  <aside id="newReview">
    <span>
      <label for="stars">How many stars?</label>

      <select name="stars" id="stars">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </span>
    <span>
      <input type="text" name="review">
      <button type="submit" data-game_id={{id}}>Submit</button>
    </span>
  </aside>
  <script src="../js/newReview.js"></script>
</body>
</html>