
</head>
<body>
  <div class="game_info">
    <span>
      <h2>{{title}}</h2>
      <img src="https://images.igdb.com/igdb/image/upload/t_1080p/{{cover}}.jpg" alt="{{title}} cover art">
    </span>
    <span class="section_area">
      <span id="genres">
        <h3>Genres:</h3>
        {{#each genres}}
        <h4>{{this}}</h4>
        {{/each}}
      </span>
    <span class="ratings">
      <p>ESRB</p>
      <p>PEGI</p>
    </span>
    <span id="age_ratings" class="ratings">
    {{#each age_ratings}}
     <h4 class="age_rating_size">{{this}}</h4>
    {{/each}}
    </span>
    </span>
  </div>
   <p id="gameSummary">{{summary}}</p>
  <section id="reviews">
    {{#each reviews as |review|}}
    {{> review-card}}
    {{/each}}
  <aside id="newReview">
    <span>
      <label for="stars">How many stars?</label>
      <select name="stars" id="stars">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </span>

    <span id="reviewInput">
      <input type="text" name="review" id="comment">
      <button type="submit" id="comment_submit" data-game_id={{id}}>Submit</button>
    </span>
  </aside>
  </section>

  <script src="../js/newReview.js"></script>
</body>
</html>
